# Ignore all .env files
.env
**/.env
*.env
*.pdf

Langchain_components/.env
/Langchain_components/6_Agents/3_AI_Agents/agents_in_langchain.ipynb
/Langchain_components/.env
/Langchain_components/6_Agents/2_Tools_binding_calling/tool_calling_in_langchain.ipynb